CapturePause.xcodeproj/project.xcworkspace/contents.xcworkspacedata
CapturePause.xcodeproj/project.xcworkspace/xcuserdata/geraintd.xcuserdatad/UserInterfaceState.xcuserstate
CapturePause.xcodeproj/xcuserdata/geraintd.xcuserdatad/xcschemes/CapturePause.xcscheme
CapturePause.xcodeproj/xcuserdata/geraintd.xcuserdatad/xcschemes/xcschememanagement.plist
